<?xml version="1.0"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
	<interceptors>
		<class>net.bryansaunders.jee6divelog.security.interceptor.HasRoleInterceptor</class>
		<class>net.bryansaunders.jee6divelog.security.interceptor.HasRolesInterceptor</class>
		<class>net.bryansaunders.jee6divelog.security.interceptor.HasPermissionInterceptor</class>
		<class>net.bryansaunders.jee6divelog.security.interceptor.HasPermissionsInterceptor</class>
	</interceptors>
</beans>
